<div class="section-footer d-flex justify-content-around">
    <div class="container">
        <div class="footer__container d-flex flex-wrap justify-content-between">
            <a href="https://viblo.asia" target="_blank" class="footer__brand link link--plain">
                <img src="~/assets/logo_full.svg" class="footer__logo mb-05">
                <span class="d-none d-sm-block">Free service for technical knowledge sharing</span>
            </a>

            <div class="footer__links row">
                <div class="col-5">
                    <h4 class="text-muted">Platforms</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://viblo.asia/app" target="_blank" class="link link--plain">Mobile App</a>
                        </li>
                        <li>
                            <a href="https://atom.io/packages/viblo" target="_blank" class="link link--plain">Atom Plugin</a>
                        </li>
                        <li>
                            <a href="https://chrome.google.com/webstore/detail/viblos-news-feed/mliahmjgdpkkicelofhbhgiidgljijmj" target="_blank" class="link link--plain">Browser Extension</a>
                        </li>
                        <li>
                            <a href="https://github.com/viblo-asia/sdk-js" target="_blank" class="link link--plain">JavaScript SDK</a>
                        </li>
                    </ul>
                </div>

                <div class="col-5 offset-2">
                    <h4 class="text-muted">Resources</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/viblo.asia/" target="_blank" class="link link--plain">Facebook</a>
                        </li>
                        <li>
                            <a href="https://github.com/viblo-asia" target="_blank" class="link link--plain">GitHub</a>
                        </li>
                        <li>
                            <a href="https://viblo.asia/register" target="_blank" class="link link--plain">Sign up</a>
                        </li>
                        <li>
                            <a href="https://viblo.asia/terms" target="_blank" class="link link--plain">Terms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
