<div class="section-jobs">
    <div class="container">
        <h2 class="text-center" style="color:#5488c7">
            <b>We Are Going Fast And We Need You</b>
            <hr class="break-line">
        </h2>

        <div class="row justify-content-around mb-4">
            <div class="col-5 mb-4 d-flex align-items-top">
                <ul class="list-unstyled">
                    <li class="media">
                        <a href="http://recruit.framgia.vn/jobs/?gh_jid=4032706002"><img src="~/assets/back-end.png"></a>
                    </li>
                    <li class="media">
                        <a href="http://recruit.framgia.vn/jobs/?gh_jid=4033338002"><img src="~/assets/front-end.png"></a>
                    </li>
                    <li class="media">
                        <a href="http://recruit.framgia.vn/jobs/?gh_jid=4090595002"><img src="~/assets/smartphone.png"></a>
                    </li>
                    <li class="media">
                        <a href="http://recruit.framgia.vn/jobs/"><img src="~/assets/devops.png"></a>
                    </li>
                </ul>
            </div>
            <div class="col-7 mb-2 d-flex align-items-top">
                <div>
                    <img src="~/assets/image.png" class="w-80 d-none d-md-block">
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div style="color:#D3ECFE">
                <p class="text-center" style="color:#5488c7; font-size:20px">
                    Send your resume to <a style="color:#FFA500" href="mailto:contact@viblo.asia">contact@viblo.asia</a> if you have the skills required
                    and join our journey
                </p>
            </div>
        </div>
    </div>
</div>
