<div class="section-jobs mb-4 mb-md-5">
    <div class="container">
        <h2 class="text-center">We are going fast and we need you</h2>

        <div class="row justify-content-around mb-4">
            <div class="col-md-10">
                <img src="~/assets/need-you.png" class="w-100 d-none d-md-block">
            </div>
            <div class="w-100">
                <img src="~/assets/need-you-sm.png" class="w-100 d-md-none">
            </div>
        </div>

        <div class="d-md-none">
            <h4 class="text-center mb-1">We are looking for</h4>

            <ul class="jobs-list-sm-only mb-4">
                <li><b>Backend developer</b> with skills in <b>Laravel and NodeJS</b></li>
                <li><b>Frontend developer</b> with skills in <b>VueJS and SASS</b></li>
                <li><b>Mobile developer</b> with skills in <b>React Native</b></li>
                <li><b>DevOps</b> with skills in <b>Linux, Docker, CI/CD</b></li>
            </ul>
        </div>

        <div class="row justify-content-around">
            <div class="col-md-6">
                <h4 class="text-center">
                    Send your résumé to <span style="color:#5488c7">contact@viblo.asia</span> if you have the skills required
                    and join our journey
                </h4>
            </div>
        </div>
    </div>
</div>
