<div class="section-jobs">
    <div class="container">
        <h2 class="text-center" style="color:#5488c7">
            <b>We Are Going Fast And We Need You</b>
            <hr class="break-line">
        </h2>

        <div class="row justify-content-around mb-4">
            <div class="col-md-16">
                <img src="~/assets/need-you.png" class="w-100 d-none d-md-block">
            </div>
            <div class="w-100">
                <img src="~/assets/need-you-sm.png" class="w-100 d-md-none">
            </div>
        </div>

        <div class="row justify-content-around">
            <div style="color:#D3ECFE">
                <p class="text-center" style="color:#5488c7; font-size:20px">
                    Send your resume to <span style="color:#FFA500">contact@viblo.asia</span> if you have the skills required
                    and join our journey
                </p>
            </div>
        </div>
    </div>
</div>
