<div class="section-top">
    <nav class="navbar">
        <div class="container d-flex align-items-center h-100">
            <img src="~/assets/logo_full.svg" class="navbar__logo h-100">
        </div>
    </nav>

    <div class="hero container mb-4">
        <div class="row banner">
            <p class="col-md-4 offset-md-1">
                <b>Come join us and help spreading the knowledge.</b>
            </p>

            <div class="col-md-7">
                <img src="~/assets/workspace.png" class="w-100 d-none d-md-block">
            </div>
        </div>

        <div class="row justify-content-around mb-4">
            <div class="col-md-3 offset-md-1">
                <img src="~/assets/platform.png" class="w-100 d-none d-md-block">
            </div>
            <div class="hero__title-wrapper col-md-5 offset-md-0 text-center">
                <p class="hero__text text-muted">
                    <b>
                    We are making Viblo an open platform where people can easily and freely share their knowledge.
                    As we grow, the knowledge you share will reach a wider number of audience.
                    We want to make the best knowledge of the IT industry available to Vietnam's IT community.
                    </b>
                </p>
            </div>
        </div>
    </div>
</div>
