<div class="section-top">
    <nav class="navbar">
        <div class="container d-flex align-items-center h-100">
            <div class="navbar__title">Work at</div>
            <img src="~/assets/logo_full.svg" class="navbar__logo h-100">
        </div>
    </nav>

    <div class="hero container py-5 py-md-10">
        <div class="row justify-content-around">
            <div class="hero__title-wrapper col-md-9 text-center">
                <h1 class="hero__title mb-4">Come join us and help spreading the knowledge</h1>
                <p class="hero__text text-muted">
                    We are making Viblo an open platform where people can easily and freely share their knowledge.
                    As we grow, the knowledge you share will reach a wider number of audience.
                    We want to make the best knowledge of the IT industry available to Vietnam's IT community.
                </p>
            </div>
        </div>
    </div>
</div>
