<div class="section-values container mb-2 mb-md-5">
    <h2 class="text-center" style="color:#5488c7">
        <b>Highlight Featured</b>
        <hr class="break-line">
    </h2>

    <div class="row">
        <div class="col-md-6 mb-4 d-flex align-items-top">
            {{!-- <img src=""> --}}
            <div>
                <h3>A growing platform</h3>
                <p class="text-muted">
                    Though being young, we never stopped evolving during our 3 years of development and achieved memorable goals.
                    Over <b>15K users</b>, <b>9K shared articles</b> and breaking the <b>1M pageviews per month</b> milestone.
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-top">
            {{!-- <img src=""> --}}
            <div>
                <h3>Spread the knowledge</h3>
                <p class="text-muted">
                    Our mission is to share, grow and drive the Vietnam's IT community forward.
                    We hold our <b>Deployment Day</b> annually as a place for our community to gather and talk.
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-top">
            {{!-- <img src=""> --}}
            <div>
                <h3>Stay in the loop</h3>
                <p class="text-muted">
                    As a platform for IT knowledge sharing, we always keep ourselves updated and refreshed
                    with latest technologies in the industry
                    whether it's <b>Node.js</b>, <b>Microservices</b> or <b>Machine Learning</b>.
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-top">
            {{!-- <img src=""> --}}
            <div>
                <h3>Viblo <span style="color:red">❤</span> Open source</h3>
                <p class="text-muted">
                    Sharing is the core value of Viblo.
                    We loves our community & we share our works with everyone so we can make awesome things together.
                </p>
            </div>
        </div>
    </div>
</div>
