.navbar {
    height: 60px;
    padding: 15px 0;

    &__title {
        font-size: 2rem;
        font-weight: 300;
        color: #6b717b;
        margin-right: .7rem;
    }
}

.hero {
    &__title, &__text {
        font-weight: 300;
    }

    &__title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    &__text {
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: left;
    }

    .banner {
        border-top: 100px solid #73AFF4;
        background-color: #73AFF4;
        p {
            color: #FDFDFD;
            text-align: left;
            font-size: 2.5rem;
        }
    }

    .justify-content-around {
        position: relative;
        background-color: #F4FBFF;
        border: 20px solid #F4FBFF;
        p {
            position: absolute;
            top: 20px;
        }
    }
}

@include media-breakpoint-up(md) {
    .navbar {
        padding: 18px 0;

        &__title {
            font-size: 1.85rem;
        }
    }

    .hero {
        &__title {
            font-size: 3.25rem;
            line-height: 4rem;
        }

        &__text {
            font-size: 0.9rem;
            line-height: 2.25rem;
        }
    }
}

.section-jobs {
    .container {
        background-image: linear-gradient(#ffffff, #D4ECFE);
    }
}

.break-line {
    border: none;
    border-top: 3px solid #5488c7;
    margin-top: 1.5rem;
    width: 4.5rem;
}

.section-footer {
    .footer {
        background-color: #f8f8f8;
        &__container {
            padding: 40px 0 60px;
        }

        &__logo {
            width: 100px;
        }

        &__links {
            flex-basis: 40%;

            h4 {
                font-size: 1.2rem;
                font-weight: bold;
            }

            li {
                margin-bottom: .5rem;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .section-footer {
        .footer {
            &__links {
                flex-basis: 100%;
            }

            &__brand {
                margin-bottom: 2rem;
                flex-basis: 100%;
            }
        }
    }
}
